.quote-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle, #369457, #093009);
  color: white;
  height: 300px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /* animation: fadeIn 5s ease-out; */
}

.quote-card-holder {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.quote {
  padding-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
